.start {
}

.start-buttons {
    display: flex;
    flex-direction: column;
}

.start-buttons > :first-child {
    margin-bottom: 2rem;
}

.join-button {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.join-button button {
    width: 100%;
    z-index: 2;
}

.join-button.show button {
    width: 19%;
}
