.start-buttons {
    display: flex;
    flex-direction: column;
}

.start-buttons > :first-child {
    margin-bottom: 3rem;
}

.join-button {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.join-button button {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.join-button.show button {
    width: 19%;
    letter-spacing: 0;
}

@media screen and (max-width: 780px) {
    .start-buttons {
        margin-bottom: 4rem;
    }
}
