.host-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
}

.host-content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
