.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h3,
    p {
        margin-bottom: 0;
    }

    p {
        margin-top: 0.5rem;
    }
}

.player-controller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vh;
    max-width: 100vw;
    margin-top: 0.25rem;
    // background-color: var(--spotify_gray);
    padding: 1rem;
    box-sizing: border-box;
}

.player-controller-controlls {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.player-controll-button {
    outline: none;
    background: none;
    color: var(--spotify_white);
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        filter: brightness(140%);
    }

    svg {
        width: 0.9rem;
        fill: var(--spotify_text_gray);
    }

    &.circle {
        border: solid 1px var(--spotify_text_gray);
        padding: 12px;

        &:hover {
            transform: scale(1.04);
        }
    }

    &.play svg {
        position: relative;
        left: 1px;
    }
}

.progress-bar-container {
    position: relative;
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;

    > div:not(:nth-of-type(2)) {
        position: absolute;
        font-size: 0.5rem;
        top: -6px;
    }

    > div:first-of-type {
        left: -10px;
        text-align: left;
    }

    > div:last-of-type {
        right: -16px;
        text-align: right;
    }
}

.progress-bar {
    position: relative;
    width: 90%;
    height: 5px;
    background-color: var(--spotify_medium_gray);
    border-radius: 3px;

    div {
        background-color: var(--spotify_text_gray);
        position: absolute;
        transform-origin: left;
        width: 100%;
        height: 5px;
        top: 0;
        left: 0;
        content: '';
        border-radius: 3px;
    }

    &:hover div {
        background-color: var(--spotify_green);
    }
}
