.track-list {
    list-style: none;
    padding: 0;
    margin: 0 10% 0 0;
    width: 90%;
}

.track-list li {
    margin: 0;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--spotify_dark_gray);
    justify-content: space-around;

    &:first-of-type {
        font-size: 0.75rem;
        color: var(--spotify_text_gray);
    }

    &:not(:first-of-type) {
        border-top: solid 1px var(--spotify_gray);
    }

    &:hover {
        background-color: var(--spotify_gray);
    }
}
