.host-track-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;

    li {
        font-size: 0.9rem;
        margin: 0;
        padding: 0.8rem 0.5rem 0.75rem 0.75rem;
        display: grid;
        grid-template-columns: 8fr 5fr 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        // background-color: var(--spotify_dark_gray);
        justify-content: space-around;
        align-items: center;
        position: relative;

        &:first-of-type {
            font-size: 0.75rem;
            color: var(--spotify_text_gray);
        }

        &:not(:first-of-type) {
            border-top: solid 1px var(--spotify_gray);
        }

        &:hover {
            background-color: var(--spotify_gray);

            button {
                display: initial;
            }
        }

        button {
            position: relative;
            display: none;
            background: none;
            border: none;
            fill: var(--spotify_text_gray);
            height: 0.75rem;
            width: 0.75rem;
            padding: 3px;
            box-sizing: content-box;
            margin: 0;
            line-height: 0.75rem;
            outline: none;

            &:hover {
                cursor: pointer;
                fill: var(--spotify_white);
                transform: scale(1.1);
            }

            &:before {
                font-size: 0.5rem;
            }

            &:last-of-type {
                height: 1.1rem;
                width: 1.1rem;
                padding: 0px;
            }
        }

        @media screen and (max-width: 860px) {
            margin: 0 0.75rem;
        }
    }
}
